.app {
    background: linear-gradient(135deg, var(--disney-blue), var(--black)); /*Disney blue -> black*/
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}