:root {
  --disney-blue: #1B61D6;
  --disney-gold: #FFD700;
  --disney-red: #E62429;
  --disney-darkred: #c21519;
  --glass-bg: rgba(255, 255, 255, 0.08);
  --glass-blur: 10px;
  --glass-border: rgba(255, 255, 255, 0.2);
  --white: #FFF;
}
/*Fonts*/
@font-face {
  font-family: "Waltograph";
  src: url("../src/assets/fonts/waltographUI.ttf");
  font-weight: normal;
  font-style: normal;
}

.app {
    background: linear-gradient(135deg, var(--disney-blue), #000000); /*Disney blue -> black*/
    min-height: 100vh;
    margin: 0;
    padding: 0;
}