.modal__title {
  font-family: "Waltograph", sans-serif;
  font-size: 24px;
  color: var(--disney-gold);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin: 0 0 24px 0;
}

.modal__form {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}

.modal__label {
  margin: 0;
  padding: 0;
  color: var(--white);
  font-size: 16px;
  font-family: "Waltograph", sans-serif;
  line-height: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.modal__input {
  margin: 8px 0 24px 0;
  padding: 12px 0;
  border-radius: 10px;
  border: 2px solid var(--disney-blue);
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-size: 16px;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  color: var(--white);  
}

.modal__input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.modal__legend {
  margin: 0 0 12px 0;
  padding: 0;
}

.modal__submit {
  background-color: var(--disney-red);
  color: var(--white);
  border: none;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 124px;
  height: 36px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Waltograph", sans-serif;
  transition: background-color 0.3s ease;
}


.modal__submit:hover {
 background-color: var(--disney-dardred);
}

.modal__submit:disabled {
 opacity: 30%;
 cursor: not-allowed;
}

.modal__button-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}

.modal__auth-text {
  background: none;
  
  line-height: 20px;
  font-size: 16px;
  color: var(--white);
}

.modal__auth-button {
  background: none;
  font-family: "Waltograph", sans-serif;
  line-height: 20px;
  font-size: 16px;
  color: var(--disney-gold);
  border: none;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}

.modal__error {
  color: red; 
}