/* === MAIN GAME CONTAINER === */
.game__container {
    margin: 16px auto;
    padding: 24px 32px;
    max-width: 800px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--glass-bg);
    backdrop-filter: blur(var(--glass-blur));
    -webkit-backdrop-filter: blur(var(--glass-blur));
    border: 1px solid var(--glass-border);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    color: var(--white);
    text-align: center;
    font-family: "Cabinet Grotesk Bold", sans-serif;
    position: relative;
    align-items: flex-start;
}

.game__score
{
    position: absolute;
    top: 64px;
    right: 100px;
    background-color: rgba(255,255,255,0.15); /*subtle blend overlay*/
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 19px;
    font-weight: bold;
    color: var(--disney-gold);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    z-index: 2;
}

.game__image
{
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game__loading-placeholder
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* === GAME CONTROLS === */
.game__controls 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 24px;
    width: 100%;
}
/* === INPUT FIELD === */
.game__input {
    margin-top: 24px;
    padding: 12px 18px;
    border-radius: 10px;
    border: 2px solid var(--disney-blue);
    font-size: 16px;
    width: 80%;
    max-width: 400px;
    font-family: inherit;
}

.game__input:disabled
{
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.5);
}

/* === BUTTONS === */
.game__buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.game__buttons_submit,
.game__buttons_newGame {
    padding: 10px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: inherit;
}

.game__buttons_submit {
    background-color: var(--disney-red);
    color: var(--white);
}

.game__buttons_submit:hover {
    background-color: var(--disney-darkred);
}

.game__buttons_submit:disabled {
    background-color: var(--disney-darkred);
    opacity: 0.5;
    cursor: default;
}

.game__buttons_newGame {
    background-color: var(--disney-gold);
    color: var(--disney-blue);
}

.game__buttons_newGame:hover {
    background-color: #f4c10f;
}